body {
    background-color:#fdeed9;
  }

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
}

h1 {
  background-color: #413d51;
  text-align: center;
  color: #FFFFF0;
  padding: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  background-color: #b7ab84;
  padding: 10px;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  size: 40px;
  color: #0c0c00;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c4e3e;
}
.links a {
  margin-left: 30px; 
  text-decoration: none;
  color: #fdeed9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.introduction {
  text-align: center;
  padding: 10px;
  background-color: #fdeed9;
  margin-bottom: 20px;
}
.introduction h1 {
  font-size: 30px;
  background-color: #b7ab84;
  color: black;
  margin-bottom: 20px;
}
.introduction p {
  font-size: 25px;
  background-color: #A4BEBA;
  line-height: 1.6;
}

.gifClass {
  text-align: center;
  display:block;
  font-size: 28px;
  margin: 0 auto;
  margin-top: 10px;
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
}
a:hover {
  color: #f4d7ad; 
}

.startButton {
  background-color: #D64045;
  color: #fdeed9;
  text-align: center;
  border: solid;
  border-color:#D64045;
  display:block;
  font-size: 28px;
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
}
.startButton:hover {
  background-color: #601700;
  color: #fdeed9;
  text-align: center;
  border: solid;
  border-color: #601700;
  display:block;
  font-size: 28px;
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
}

.question-container {
    margin-top: 120px ;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
.answer {
    display: inline-block;
    margin: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.answer img {
    margin-bottom: 10px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
 
.clickButton {
    background-color: #a3B4A2;
    text-align: center;
    border: solid;
    border-color:#a3B4A2;
    display:block;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
  }
.clickButton.selected {
    background-color: rgb(181, 42, 42);
    border-color:rgb(181, 42, 42);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.resultButton {
    background-color: #601700;
    color:#fdeed9;
    text-align: center;
    border: solid;
    border-color:#601700;
    display:block;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    margin-top: 40px;
}
.resultButton:hover {
  background-color: #9c656d;
  color: #fdeed9;
  text-align: center;
  border: solid;
  border-color: #9c656d;
  display:block;
  font-size: 28px;
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  margin-top: 40px;
}


.movie-info {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between image and text */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.movie-info img {
    max-width: 600px; /* Adjust the image width */
    height: 400px;
}

.resetButton {
    background-color: #601700;
    color: #fdeed9;
    text-align: center;
    border: solid;
    border-color:#601700;
    display:block;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    margin-top: 50px;
}
.resetButton:hover {
    background-color: #9c656d;
    color: #fdeed9;
    text-align: center;
    border: solid;
    border-color:#9c656d;
    display:block;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    margin-top: 50px;
}

.hidden {
  display: none;
}
.slide-down {
  animation: slideDown 0.5s ease-out;
}
@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


.blog-categories {
  display: flex;
  justify-content: center;
  gap: 20px; 
}
.blog-category {
  position: relative;
  text-align: center;
}
.blog-category img {
  width: 300px;
  height: 500px;
  position: relative;
  display: block;
  transition: filter 0.3s ease; 
}
.blog-category .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdeed9; 
  color: black;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s ease; 
}
.blog-category img:hover {
  filter: brightness(60%);
}

.quiz-categories {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the gap between images as needed */
}
.quiz-category {
  position: relative;
  text-align: center;
}
.quiz-category img {
  width: 300px;
  height: 500px;
  position: relative;
  display: block;
  transition: filter 0.3s ease; /* Smooth transition for the hover effect */
}
.quiz-category .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fdeed9; 
  color: black;
  padding: 10px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s ease; 
}
.quiz-category img:hover {
  filter: brightness(60%);
}

hr.divider {
  border: none;
  height: 30px;
  background-color: #601700;
  margin: 50px 20px; 
}

.feedback a {
  color: #413d51; 
  text-decoration: none; 
  font-weight: bold; 
}

.feedback a:hover {
  text-decoration: underline;
}

footer {
  background-color: #3c4e3e;
  color: #fdeed9;
  margin-top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}