body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FFFFF0;
}

h1 {
    background-color: #413d51;
    text-align: center;
    color: #FFFFF0;
    padding: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h3 {
  size: 40px;
  color: #0c0c00;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c4e3e;
}
.links a {
  margin-left: 30px; 
  text-decoration: none;
  color: #fdeed9;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    background-color: #b7ab84;
    padding: 10px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
 .question-container {
    margin-top: 120px ;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
.answer {
    display: inline-block;
    margin: 10px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.answer img {
    margin-bottom: 10px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
 
 .clickButton {
    background-color: #a3B4A2;
    text-align: center;
    border: solid;
    border-color:#a3B4A2;
    display:block;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
  }

.clickButton.selected {
    background-color: rgb(181, 42, 42);
    border-color:rgb(181, 42, 42);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

 .resultButton {
    background-color: #601700;
    color:#fdeed9;
    text-align: center;
    border: solid;
    border-color:#601700;
    display:block;
    font-size: 28px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    margin-top: 40px;
}

.resultButton:hover {
  background-color: #9c656d;
  color: #fdeed9;
  text-align: center;
  border: solid;
  border-color: #9c656d;
  display:block;
  font-size: 28px;
  cursor: pointer;
  padding: 10px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
  margin-top: 40px;
}

img#quizGIF {
  display: block;
  margin: 0 auto;
}
.bookResult {
  display: none;
  text-align: center;
  margin-top: 20px;
}
.bookResult img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

footer {
    background-color: #3c4e3e;
    color: #fdeed9;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

